<template>
  <require from="../../resources/elements/navigators/main-navigator"></require>
  <require from="../../resources/elements/card-decks/card-deck.html"></require>
  <require from="../../resources/elements/card-decks/unit-deck.html"></require>
  <require from="../../resources/elements/card-decks/video-deck.html"></require>

<!--  <require from="../../resources/elements/navigators/side-navigator"></require>-->
<!--  <side-navigator></side-navigator>-->

  <main-navigator navigator-properties.one-way="navigatorProperties"></main-navigator>
  <div class="uk-container uk-padding-small">
    <video-deck videos.one-way="topic.panelVideos"></video-deck>
    <unit-deck units.one-way="topic.units"></unit-deck>
    <card-deck los.one-way="topic.standardLos"></card-deck>
  </div>
</template>
