<template>
  <require from="../../resources/elements/header/header"></require>
  <require from="../../resources/elements/card-decks/card-deck"></require>
  <require from="../../resources/elements/card-decks/unit-deck"></require>
  <require from="../../resources/elements/card-decks/video-deck"></require>

  <header></header>

  <div class="uk-container uk-padding-small">
    <video-deck videos.one-way="topic.panelVideos"></video-deck>
    <unit-deck units.one-way="topic.units"></unit-deck>
    <card-deck los.one-way="topic.standardLos"></card-deck>
  </div>
</template>
