<template>

  <div uk-sticky>
    <nav class="uk-navbar">
      <div class="uk-navbar-left">
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-subnav uk-background-secondary uk-subnav-pill" uk-switcher="connect: .switcher-container">
          <div repeat.for="chapter of lab.chapters">
            <li><a href="#">${chapter.shortTitle}</a></li>
          </div>
        </ul>
      </div>
    </nav>
  </div>

  <div class="uk-container uk-container-expand">
    <div innerhtml="${test}"></div>
  </div>


</template>
