<template>
  <style>
    body {
      font-family: "Open Sans", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
      font-size: 90%;
      color: black;
    }

    p {
      margin: 0.5em;
    }

    pre code {
      font-family: "Monaco";
      font-size: 100%;
    }

    img {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin: 10px;
    }

    h1, h2, h3 {
      border-bottom: thin solid black;
      margin-bottom: 0.5em;
      margin-top: 1em;
    }

    h1 {
      font-style: italic;
      font-size: 130%;
    }

    h2 {
      font-size: 110%;
    }

    h3 {
      font-size: 100%;
    }

  </style>

  <div uk-sticky>
    <nav class="uk-navbar">
      <div class="uk-navbar-left">
        <ul class="uk-subnav uk-background-secondary uk-subnav-pill">
          <li><a href="#offcanvas-usage" uk-icon="icon: menu" , uk-toggle title="Switch Lab" pos="bottom" uk-tooltip></a></li>
          <!--<li class="uk-active"><a href="../../index.html" uk-icon="icon: chevron-up" uk-toggle title="Parent Topic" pos="bottom" uk-tooltip>{{ lo.parent.title }}</a></li>-->
        </ul>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-subnav uk-background-secondary uk-subnav-pill" innerhtml="${navbarHtml}">
        </ul>
      </div>
    </nav>
  </div>
  <div class="uk-container uk-container-expand">
    <div innerhtml="${content}"></div>
  </div>
</template>
