<template>
  <require from="../resources/elements/course-outline"></require>


    <div class="uk-width-1-1">

      <div class="uk-container">
        <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
          <div class="uk-width-1-1@m">
            <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">

              <h3 class="uk-card-title uk-text-center">Tutors Course Reader</h3>
              <form>
                <div class="uk-margin">
                  <div class="uk-inline uk-width-1-1">
                    <input class="uk-input" type="text" placeholder="Course Web Url" value.bind="url">
                  </div>
                </div>
                <div class="uk-margin">
                  <button name="geturl" class="uk-button uk-button-primary uk-button-large uk-width-1-1" click.trigger="setUrl()">Get Url
                  </button>
                </div>
              </form>
              <p name="url" class="uk-text-centre"><a href="${courseUrl}"> ${courseUrl} </a></p>
              <div show.bind="courseFound">
                <div class="uk-card uk-card-default uk-align-left uk-card-body">
                  <course-outline los.bind="course.topicLos"></course-outline>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

