<template>
  <require from="../resources/elements/header"></require>
  <require from="../resources/elements/card"></require>

  <div class="uk-container">
    <fieldset class="uk-fieldset">
      <legend class="uk-legend">Browse to course json...</legend>
      <div class="js-upload" uk-form-custom>
        <input type="file" files.bind="courseFiles" change.delegate="fileSelected()" multiple>
        <button class="uk-button uk-button-default" type="button" tabindex="-1">Select</button>
      </div>

      <div class="uk-margin">
        <input class="uk-input" type="text" placeholder="Input" value.bind="courseUrl">
      </div>
      <p uk-margin>
        <a class="uk-button uk-button-default" click.trigger="open()">Open</a>
      </p>
    </fieldset>

    <header properties.one-way="properties"></header>
    <div class="uk-container uk-padding-small">
      <div class="uk-child-width-1-4@s uk-flex uk-flex-center" uk-grid uk-height-match="target: .uk-card">
        <div repeat.for="lo of course.topics">
          <div class="uk-card uk-card-default uk-card-small uk-text-center uk-text-baseline uk-animation-fade">
            <card lo.one-way="lo.properties"></card>
          </div>
        </div>
      </div>
    </div>

  </div>


</template>
