<template>
  <div class="uk-offcanvas-content">
    <div id="offcanvas-usage" uk-offcanvas="mode: reveal; overlay: true">
      <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <div repeat.for="topic of los">
          <ul class="uk-nav">
            <li class="uk-parent">
              <a class="item" href="${topic.link}"> <i class="${icon(topic.type)}" style="color:${iconStyle(topic.type)}"> </i>
                ${topic.title} </a>
              <ul class="uk-nav-sub">
                <div repeat.for="lo of topic.los">
                  <li>
                    <a class="item" href="${lo.link}"> <i class="${icon(lo.type)}" style="color:${iconStyle(lo.type)}"> </i>
                      ${lo.title} </a>
                    <ul class="uk-nav-sub">
                      <div repeat.for="lo of lo.los">
                        <a class="item" href="${lo.link}"> <i class="${icon(lo.type)}" style="color:${iconStyle(lo.type)}"> </i>
                          ${lo.title} </a>
                      </div>
                    </ul>
                  </li>
                </div>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
