<template>
  <require from="../resources/elements/header"></require>
  <require from="../resources/elements/card"></require>
  <require from="../resources/elements/standard"></require>
  <require from="../resources/elements/units"></require>
  <require from="../resources/elements/panel-videos"></require>

  <header title.one-way="topic.lo.title"></header>

  <div class="uk-container uk-padding-small">
    <panel-videos videos.one-way="topic.panelVideos"></panel-videos>
    <units units.one-way="topic.units"></units>
    <standard los.one-way="topic.standardLos"></standard>
  </div>
</template>
