<template>

  <require from="./talk-view.css"></require>

  <require from="../../resources/elements/navigators/main-navigator"></require>
  <require from="../../resources/elements/cards/video-card"></require>
  <require from="../../resources/elements/cards/card"></require>

  <main-navigator navigator-properties.one-way="navigatorProperties"></main-navigator>

  <div class="uk-container-expand uk-text-center uk-margin-medium-left uk-margin-medium-right">
    <div uk-grid uk-flex uk-flex-center>
      <div class="uk-width-expand@m uk-animation-scale-up">
        <input type="hidden" class="inputforfocus">
<!--        <embed id="pdfembed" src="${lo.pdf}?#toolbar=1&navpanes=1&scrollbar=1" type="application/pdf" width="100%" height="720px"></embed>-->
        <div id="pdf-placeholder"></div>
      </div>
      <div class="uk-width-1-5@m uk-flex uk-flex-middle">
        <card lo.one-way="lo"></card>
      </div>
    </div>
  </div>
</template>
