<template>
  <require from="../../resources/elements/navigators/main-navigator"></require>
  <require from="../../resources/elements/cards/video-card"></require>
  <require from="../../resources/elements/cards/card"></require>

  <main-navigator navigator-properties.one-way="navigatorProperties"></main-navigator>
  <div class="uk-container-expand uk-text-center uk-margin-medium-left uk-margin-medium-right">
    <div uk-grid uk-flex uk-flex-center>
      <div class="uk-width-expand@m">
        <video-card showHeader.one-way="showHeader" lo.one-way="lo"></video-card>
      </div>
      <div class="uk-width-1-5@m uk-flex uk-flex-middle">
        <card lo.one-way="lo"></card>
      </div>
    </div>
  </div>
</template>
